<!DOCTYPE html>
<html lang="en" data-theme="light">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Cafe Honda</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css" />
        <link rel="stylesheet" href="public/style.css" />
        <script src="public/index.var.js"></script>
    </head>
    <body>
        <div class="section">
            <figure class="image is-128x128 mx-auto">
                <img src="/public/logo.png" />
            </figure>
            <div class="mb-6">
                <a class="button" href="/">Home</a>
                <a class="button" href="/order">Order</a>
                <a class="button" href="/history">History</a>
                <a class="button" href="/stock">Add Stock</a>
            </div>

            <div class="box mb-6">
                <p class="title is-4 has-text-centered">Current Stock</p>
                <div class="columns">
                    {{#each drinks}}
                    <div class="column has-text-centered">
                        <div>
                            <p class="heading">{{name}}</p>
                            <p class="title">{{quantity}}</p>
                        </div>
                    </div>
                    {{/each}}
                </div>
                <div class="columns">
                    {{#each snacks}}
                    <div class="column has-text-centered">
                        <div>
                            <p class="heading">{{name}}</p>
                            <p class="title">{{quantity}}</p>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
            <a href="order" class="button is-primary is-large is-fullwidth">Add Order</a>
        </div>
    </body>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
        let notifier = new AWN();

          const flash = {{{flashMessages}}}; // Parse the flash messages JSON

          if (flash.success) {
            flash.success.forEach(message => {
              notifier.success(message); // Show success message using Awesome Notifications
            });
          }
        });
    </script>
</html>
