<!DOCTYPE html>
<html lang="en" data-theme="light">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Cafe Honda</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css" />
        <link rel="stylesheet" href="public/style.css" />
        <script src="public/index.var.js"></script>
        <style>
            label {
                width: 100%;
            }

            .card-input-element {
                display: none;
            }

            .card-input:hover {
                cursor: pointer;
            }

            .card-input-element:checked + .card-input {
                box-shadow: 0 0 5px 5px #00d1b2;
            }

            .card-input-element:disabled + .card-input {
                opacity: 0.3;
            }
        </style>
    </head>

    <body>
        <div class="section">
            <figure class="image is-128x128 mx-auto">
                <img src="/public/logo.png" />
            </figure>
            <div class="mb-6">
                <a class="button" href="/">Home</a>
                <a class="button" href="/order">Order</a>
                <a class="button" href="/history">History</a>
                <a class="button" href="/stock">Add Stock</a>
            </div>

            <form action="/order" method="post" id="formorder">
                <p class="title is-4 has-text-centered">Select Beverage</p>
                <div class="grid">
                    {{#each drinks}}
                    <div class="cell">
                        <label>
                            <input type="radio" name="drink" class="card-input-element" value="{{ id }}" required {{#unless quantity}} disabled {{/unless}} />
                            <div class="card card-input py-3 is-flex is-align-items-center is-justify-content-center" style="height: 100%">
                                <div class="card-content">
                                    <div class="content has-text-centered">{{ name }}</div>
                                </div>
                            </div>
                        </label>
                    </div>
                    {{/each}}
                    <div class="cell">
                        <label class="">
                            <input type="radio" name="drink" class="card-input-element" value="none" required />
                            <div class="card card-input py-3 is-flex is-align-items-center is-justify-content-center" style="height: 100%">
                                <div class="card-content">
                                    <div class="content has-text-centered">None</div>
                                </div>
                            </div>
                        </label>
                    </div>
                </div>
                <p class="title is-4 has-text-centered">Select Food</p>
                <div class="grid">
                    {{#each snacks}}
                    <div class="cell">
                        <label class="">
                            <input type="radio" name="snack" class="card-input-element" value="{{ id }}" required {{#unless quantity}} disabled {{/unless}} />
                            <div class="card card-input py-3 is-flex is-align-items-center is-justify-content-center" style="height: 100%">
                                <div class="card-content">
                                    <div class="content has-text-centered">{{ name }}</div>
                                </div>
                            </div>
                        </label>
                    </div>
                    {{/each}}
                    <div class="cell">
                        <label class="">
                            <input type="radio" name="snack" class="card-input-element" value="none" required />
                            <div class="card card-input py-3 is-flex is-align-items-center is-justify-content-center" style="height: 100%">
                                <div class="card-content">
                                    <div class="content has-text-centered">None</div>
                                </div>
                            </div>
                        </label>
                    </div>
                </div>
                <button class="button is-primary is-large is-fullwidth" type="submit" id="formSubmit">Order</button>
            </form>
        </div>
    </body>
    <script>
        let notifier = new AWN();

        document.getElementById("formSubmit").addEventListener("click", function (event) {
            var drink = document.querySelector('input[name = "drink"]:checked');
            var snack = document.querySelector('input[name = "snack"]:checked');
            this.classList.add("is-loading");
            if (drink == null || snack == null) {
                event.preventDefault();
                if (drink == null) {
                    notifier.alert("Please select a beverage");
                }
                if (snack == null) {
                    notifier.alert("Please select a food");
                }
                this.classList.remove("is-loading");
            }
        });
    </script>
</html>
